.enter {
  opacity: 0;
  transform: translateY(-100rem);
}

.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.exit {
  opacity: 1;
  transform: translateY(0);
}

.exitActive {
  opacity: 0;
  transform: translateY(-100rem);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}
